body {
    font-family: Nunito Sans;
    font-size: 16px;
    color: var(--text-color);
    background-color: #FFF;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

button {
    font-family: inherit;
    color: currentColor;
}

input {
    font-family: inherit;
}

/* svg{
    fill: currentColor;
} */
/* .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
} */
.visually-hidden {
    position: absolute;
    visibility: hidden;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
}

/* header */

.header_container {
    display: flex;
}


.header_logo {
    /* margin-left: 62px; */
    margin-bottom: 12px;
    margin-top: 12px;
}

.header_text {
    color: rgba(0, 0, 0, 0.4);
    font-family: Nunito Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;

    /* margin-left: 70px; */
    margin-top: 21px;
    /* width: 519px;
height: 51px; */
}

.header_text_container {
    margin-left: 70px;

}

.header_ul {
    display: flex;
    gap: 49px;



    margin-top: 12px;
}

.df {
    display: flex;

}
.header_li {
    color: rgb(2, 143, 255);
    font-family: Nunito Sans;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}

.container {
    /* max-width: 1280px; */
    width: 100%;
    margin: 0 auto;
    margin-left: 1cqh;
}

.contacts-list {
    margin-left: 239px;
    margin-top: 49px;
}

.contacts-link {

    color: rgb(2, 143, 255);
    font-family: Nunito Sans;
    font-size: 22.5px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: right;
    font-style: normal;
}


.main_img {
/* max-width: 100%; */
width: 100%;
/* position: absolute; */


}

.pa {
    position: absolute;
}



.img_main_text {
    color: rgb(255, 255, 255);
font-family: Nunito Sans;
font-size: 46px;
font-weight: 900;
line-height: 50px;
letter-spacing: 0%;
text-align: left;
text-transform: uppercase;
width: 477.47px;
height: 253.54px;

margin-top: 34px;
margin-left: 77px;
}

.text_under_img {
    color: rgb(255, 255, 255);
    font-family: Nunito Sans;
    font-size: 22.5px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    width: 409.81px;
height: 78.96px;

margin-top: 242px;

margin-left: 79px;
}

.border {
    position: absolute;
    width: 404px;
    height: 180px;
    border-radius: 30px;

    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgba(255, 255, 255, 0.4);
    margin-top: 359px;
    margin-left: 78px;
}

.percentages_in_border_img {
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: Nunito Sans;
    font-size: 80px;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 392px;
    margin-left: 86px;
}

.tetx_in_border_img {
    color: rgb(255, 255, 255);
    font-family: Nunito Sans;
    font-size: 22.5px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    width: 379.88px;
height: 42.01px;



margin-top: 473px;
margin-left: 92px;
}

.sign_for_consultation {
    position: absolute;
    color: rgb(2, 143, 255);
font-family: Nunito Sans;
font-size: 26px;
font-weight: 900;
line-height: 50px;
letter-spacing: 0%;
text-align: left;
text-transform: uppercase;




margin-top: 592px;
margin-left: 92px;

}

.sign_for_consultation_border {
    position: absolute;
    border-radius: 68px;
    background: rgb(255, 255, 255);
    width: 589px;
    height: 75px;
    margin-top: 578px;
    margin-left: 80px;
}

.achievement-text_container {
    background: rgb(2, 143, 255);
    width: 100%; /* Занимает всю доступную ширину экрана */
    height: 58px;

    left: 0;
    top: 854px;
}

.achievement-text {
    color: rgb(255, 255, 255);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 23.8px;
    font-weight: 900;
    line-height: 58px; 
    text-align: center;
    text-transform: uppercase;
}

.percentage_container {
margin-top: 31px;

}

.percentage_ul_list {
    display: flex;
    gap: 223px;
    justify-content: center;
}

.percentage_one {

    width: 100%;
    display: flex;
    justify-content: center;

}


/* .percentage_two {
margin-top: 8px;
padding-right: 11px;
}

.percentage_three {
padding-left: 19px;
padding-top: 8px;
} */

.under_percentage_text_one {
    color: rgb(2, 143, 255);
font-family: Nunito Sans;
font-size: 22px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: center;
width: 363.59px;
height: 110.2px;
width: 100%;
display: flex;
justify-content: center;
margin-top: 24px;
}

.under_percentage_text_two {
    color: rgb(2, 143, 255);
font-family: Nunito Sans;
font-size: 22px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: center;
width: 347.92px;
height: 110.2px;
width: 100%;
display: flex;
justify-content: center;
margin-top: 24px;

}

.under_percentage_text_three {
    color: rgb(2, 143, 255);
font-family: Nunito Sans;
font-size: 22px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: center;
width: 286.06px;
height: 110.2px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 24px;

}

.under_percentage_ul_list {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.advice_main_text {
    color: rgb(2, 143, 255);
font-family: Nunito Sans;
font-size: 28px;
font-weight: 900;
line-height: 50px;
letter-spacing: 0%;
text-align: left;
text-transform: uppercase;
width: 1126px;
height: 63px;
width: 100%;
display: flex;
justify-content: center;
margin-top: 42px;
}

.advice_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.advice_list li {
    width: 30%;
    box-sizing: border-box;
    margin-bottom: 20px;
    list-style: none;
}

.number_consultation {
    color: rgb(239, 239, 239);
    font-family: Nunito Sans;
    font-size: 96px;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 0%;
    width: 181.87px;
    height: 55.19px;
    margin-bottom: 46px;
}

.background_advice_list {
width: 544px;
height: 110px;
border-radius: 30px;
background: rgb(2, 143, 255);
display: flex;
}

.background_advice_last {
    width: 544px;
    height: 144px;
border-radius: 30px;
background: rgb(2, 143, 255);
display: flex;
}

.advice_text {
    color: rgb(255, 255, 255);
font-family: Nunito Sans;
font-size: 22px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
width: 410px;
height: 51px;
    margin-left: 32px;
    margin-top: 10px;
}

.advice_checkmark {
    margin-top: 32px;
    margin-left: 19px;
}

.work_ul_list {
    display: flex;
    gap: 203px;
    width: 100%;
    justify-content: center;
    margin-top: 21px;
}

.ul_main_container {
    width: 100%;
    display: flex;
    justify-content: center;
    display: flex;
    gap: 160px;
}

.img_microscope {
    width: 100%;
}

.work_container 


.consultation_list {
margin-top: 36px;
}

.consultation_text {
    color: rgb(2, 143, 255);
font-family: Nunito Sans;
font-size: 22px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
/* text-align: left; */
margin-left: 11px;
width: 865px;
height: 82px;


}

.consultation_list_li {
    justify-content: center;
    align-items: center;
}


.dff {
    display: flex;
    align-items: center;
    position: relative; 
}

.consultation_main_text {
    color: rgb(2, 143, 255);
    font-family: Nunito Sans;
    font-size: 28px;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    margin-top: 24px;
    /* margin-left: 80px; */
    width: 100%;
    display: flex;
    justify-content: center;
}

.consultation_border {
    width: 449px;
    height: 45px;
    border-radius: 30px;
    background: rgb(239, 239, 239);
    margin-top: 24px; 
    position: absolute;
    right: -224.5px;
}

.work_main_text {
    color: rgb(2, 143, 255);
    font-family: Nunito Sans;
    font-size: 28px;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
/* margin-left: 78px; */
margin-top: 58px;
width: 100%;
display: flex;
justify-content: center;
}

.work_li_list_text {

    color: rgb(2, 143, 255);
font-family: Nunito Sans;
font-size: 22px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
/* text-align: center; */
/* width: 220.87px; */
height: 80px;

}

.ul_work_list {
    color: rgb(2, 143, 255);

margin-left: px;
display: inline-block;
text-align: center;
}


.work_svg {
    margin-bottom: 46px;
}

.text_under_work {
    color: rgba(0, 0, 0, 0.4);
font-family: Nunito Sans;
font-size: 20px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
text-align: center;

}
.team_container {
    gap: 200px;
    justify-content: center;
    position: absolute;
    margin-top: 22px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.team_foto_one {
    /* width: 100%; */
    
}

.bg {
margin-top: 500px;
    width: 100%; /* Растягиваем на весь экран */
    height: 220px;
    background: rgb(2, 143, 255);
    position: absolute;
    transform: translateY(-50%); /* Коррекция для центрирования по вертикали */
}



.team_text_name {

color: rgb(255, 255, 255);
font-family: Nunito Sans;
font-size: 22px;
font-weight: 900;
line-height: 28px;
letter-spacing: 0%;
text-align: left;
}

.team_text_white {
    color: rgb(255, 255, 255);
font-family: Nunito Sans;
font-size: 22px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
width: 430px;
height: 130px;
margin-top: 10px;
}

.team_text_blue {
    color: rgb(2, 143, 255);
font-family: Nunito Sans;
font-size: 21px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
width: 410px;
height: 183px;
/* text-align: center; */
/* text-transform: uppercase; */
}

.team_text_name_two{

    color: rgb(255, 255, 255);
font-family: Nunito Sans;
font-size: 22px;
font-weight: 900;
line-height: 28px;
letter-spacing: 0%;
text-align: left;
}
.team_text_white_two {
    color: rgb(255, 255, 255);
    font-family: Nunito Sans;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    width: 430px;
    height: 130px;
    margin-top: 10px;
}
.team_text_blue_two {
    color: rgb(2, 143, 255);
    font-family: Nunito Sans;
    font-size: 21px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    width: 410px;
    height: 183px;
}

.team_list {
    display: flex;
    gap: 200px;
}

.register_consultation_border{
    /* Rectangle 20 */
/* position: absolute; */
width: 660px;
height: 71px;
position: absolute;
border-radius: 68px;
margin-top: 1000px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
background: rgb(255, 255, 255);



}
.mt {
    margin-top: 1050px;
opacity: 0;
}
.register_consultation {
    color: rgb(2, 143, 255);
font-family: Nunito Sans;
font-size: 28px;
font-weight: 900;
line-height: 50px;
letter-spacing: 0%;
text-align: center;
/* text-transform: uppercase; */
margin-top: 11px;
}

.register_consultation_container {
    display: flex;
    justify-content: center;
}

.bg_copy {
    margin-top: 500px;
    width: 100%; /* Растягиваем на весь экран */
    height: 220px;
    background: rgb(2, 143, 255);
    position: absolute;
    transform: translateY(-50%);
    display: none;
}

.advantages_main_container {
display: flex;

justify-content: center;
margin-top: 35px;
/* justify-content: center; */
/* margin-left: 300px; */
}

.advantages_ul_list {
position: absolute;
/* margin-right: 3020px; */
}

.advantages_list {
margin-bottom: 40px;
width: 544px;
height: 307px;
}
.advantages_list_two {
    width: 541px;
height: 360px;
}


.advantages_text_main_container {
    /* Rectangle 18 */
/* position: absolute; */
width: 818px;
height: 707px;
left: 0;
top: 0;
border-radius: 30px;

background: rgb(2, 143, 255);
margin-left: 420px;

}

.advantages_text_container {
    margin-left: 159px;
}
.advantages_title {
    color: rgb(255, 255, 255);
font-family: Nunito Sans;
font-size: 28px;
font-weight: 900;
line-height: 28px;
letter-spacing: 0%;
width: 580px;
height: 63px;
}


.advantages_team {
    color: rgb(255, 255, 255);
font-family: Nunito Sans;
font-size: 22px;
font-weight: 900;
line-height: 28px;
letter-spacing: 0%;
margin-bottom: 15px;

}

.advantages_team_text {
    color: rgb(255, 255, 255);
font-family: Nunito Sans;
font-size: 22px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
width: 561px;
height: 150px;
}

.advantages_team_text_two {
    color: rgb(255, 255, 255);
font-family: Nunito Sans;
font-size: 22px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
width: 561px;
height: 148px;
}

.advantages_team_text_three {
    color: rgb(255, 255, 255);
font-family: Nunito Sans;
font-size: 22px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
width: 561px;
height: 148px;

}



































@media(max-width: 1350px){
    .img_main_text {
        color: rgb(255, 255, 255);
    font-family: Nunito Sans;
    font-size: 30px;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    width: 300.47px;
    height: 253.54px;
    
    margin-top: 34px;
    margin-left: 77px;
    }

    .text_under_img {
        color: rgb(255, 255, 255);
        font-family: Nunito Sans;
        font-size: 17px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0%;
        text-align: left;
        width: 340.81px;
        height: 78.96px;
        margin-top: 170px;
        margin-left: 79px;
    }

    .border {
        position: absolute;
        width: 304px;
        height: 100px;
        border-radius: 30px;
        box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        background: rgba(255, 255, 255, 0.4);
        margin-top: 270px;
        margin-left: 78px;
    }
    .percentages_in_border_img {
        position: absolute;
        color: rgb(255, 255, 255);
        font-family: Nunito Sans;
        font-size: 30px;
        font-weight: 900;
        line-height: 50px;
        letter-spacing: 0%;
        text-align: center;
        margin-top: 270px;
        margin-left: 86px;
    }
    .tetx_in_border_img {
        color: rgb(255, 255, 255);
        font-family: Nunito Sans;
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0%;
        text-align: left;
        width: 300px;
        height: 42.01px;
        margin-top: 315px;
        margin-left: 92px;
    }
    .sign_for_consultation_border {
        position: absolute;
        border-radius: 68px;
        background: rgb(255, 255, 255);
        width: 489px;
        height: 75px;
        margin-top: 428px;
        margin-left: 80px;
    }

    .sign_for_consultation {
        position: absolute;
        color: rgb(2, 143, 255);
        font-family: Nunito Sans;
        font-size: 21px;
        font-weight: 900;
        line-height: 50px;
        letter-spacing: 0%;
        text-align: left;
        text-transform: uppercase;
        margin-top: 440px;
        margin-left: 92px;
    }
    .achievement-text {
        color: rgb(255, 255, 255);
        font-family: 'Nunito Sans', sans-serif;
        font-size: 20px;
        font-weight: 900;
        line-height: 58px; 
        text-align: center;
        text-transform: uppercase;
    }
    
}


@media(max-width: 1200px) {
    .contacts-list {
        margin-left: 100px;
    }
    .achievement-text {
        color: rgb(255, 255, 255);
        font-family: 'Nunito Sans', sans-serif;
        font-size: 18px;
        font-weight: 900;
        line-height: 58px; 
        text-align: center;
        text-transform: uppercase;
    }
    .percentage_ul_list {
        display: flex;
        gap: 130px;
        justify-content: center;
    }

    .ul_main_container {
        gap: 100px;
    }
    .work_ul_list {
        gap: 150px;
    }
    .team_list {
        display: flex;
        gap: 100px;
    }
    .advantages_list_photo {
        width: 400px;
    }
    .advantages_text_main_container {
        /* Rectangle 18 */
    /* position: absolute; */
    width: 818px;
    height: 640px;
    left: 0;
    top: 0;
    border-radius: 30px;
    
    background: rgb(2, 143, 255);
    margin-left: 380px;
    
    }
    .advantages_text_container {
        margin-left: 60px;
    }
    .advantages_team_text {
        color: rgb(255, 255, 255);
        font-family: Nunito Sans;
        font-size: 19px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0%;
        width: 561px;
        height: 130px;
    }
    .advantages_team_text_two {
        color: rgb(255, 255, 255);
        font-family: Nunito Sans;
        font-size: 19px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0%;
        width: 561px;
        height: 128px;
    }
    .advantages_team_text_three {
        color: rgb(255, 255, 255);
        font-family: Nunito Sans;
        font-size: 19px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0%;
        width: 561px;
        height: 128px;
    }
}

@media(max-width: 1000px) {
.contacts-list {
    margin-left: 50px;
}
/* .df {
    display: block;
} */

.img_main_text {
    color: rgb(255, 255, 255);
font-family: Nunito Sans;
font-size: 22px;
font-weight: 900;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
text-transform: uppercase;
width: 170.47px;
height: 253.54px;

margin-top: 14px;
margin-left: 77px;
}

.text_under_img {
    color: rgb(255, 255, 255);
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
    width: 300.81px;
    height: 78.96px;
    margin-top: 105px;
    margin-left: 79px;
}

.border {
    position: absolute;
    width: 250px;
    height: 90px;
    border-radius: 30px;
    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgba(255, 255, 255, 0.4);
    margin-top: 180px;
    margin-left: 78px;
}
.percentages_in_border_img {
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: Nunito Sans;
    font-size: 23px;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 180px;
    margin-left: 86px;
}
.tetx_in_border_img {
    color: rgb(255, 255, 255);
    font-family: Nunito Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    width: 260px;
    height: 42.01px;
    margin-top: 220px;
    margin-left: 92px;
}
.sign_for_consultation_border {
    position: absolute;
    border-radius: 68px;
    background: rgb(255, 255, 255);
    width: 410px;
    height: 65px;
    margin-top: 300px;
    margin-left: 80px;
}

.sign_for_consultation {
    position: absolute;
    color: rgb(2, 143, 255);
    font-family: Nunito Sans;
    font-size: 17.55px;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    margin-top: 309px;
    margin-left: 92px;
}
.achievement-text {
    color: rgb(255, 255, 255);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 13px;
    font-weight: 900;
    line-height: 58px; 
    text-align: center;
    text-transform: uppercase;
}
.percentage_ul_list {
    display: flex;
    gap: 60px;
    justify-content: center;
}




.consultation_text {
    color: rgb(2, 143, 255);
    font-family: Nunito Sans;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    /* text-align: left; */
    margin-left: 11px;
    width: auto;
    height: 82px;
}

.number_consultation {
    color: rgb(239, 239, 239);
    font-family: Nunito Sans;
    font-size: 96px;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 0%;
    width: 181.87px;
    height: 55.19px;
    margin-bottom: 46px;
}
.consultation_list_li {
    margin-bottom: 80px;
}
.consultation_main_text {
    color: rgb(2, 143, 255);
    font-family: Nunito Sans;
    font-size: 28px;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    margin-top: 24px;
    margin-left: 5px;
}
.ul_main_container {
    gap: 50px;
}
.work_ul_list {
    gap: 80px;
}
.team_list {
    display: flex;
    gap: 50px;
}

.team_text_white {
    color: rgb(255, 255, 255);
    font-family: Nunito Sans;
    font-size: 19px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    width: 350px;
    height: 130px;
    margin-top: 10px;
}

.team_text_blue {
    color: rgb(2, 143, 255);
    font-family: Nunito Sans;
    font-size: 19px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    width: 360px;
    height: 183px;
}

.advantages_list {
    margin-bottom: 0px;
    width: 544px;
    height: 250px;
}
.advantages_list_photo {
    width: 400px;
}
.advantages_text_main_container {
    /* position: absolute; */
    width: 818px;
    height: 640px;
    left: 0;
    top: 0;
    border-radius: 30px;
    background: rgb(2, 143, 255);
    margin-left: 350px;
}
.advantages_title {
    color: rgb(255, 255, 255);
    font-family: Nunito Sans;
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
    letter-spacing: 0%;
    width: 520px;
    height: 63px;
}
.advantages_team {
    width: 520;
    font-size: 19px;
    margin-bottom: 0px;
}
.advantages_team_text {

    font-size: 16px;

}

.advantages_team_text {
    color: rgb(255, 255, 255);
    font-family: Nunito Sans;
    font-size: 19px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    width: 520px;
    height: 130px;
}
.advantages_team_text_two {
    color: rgb(255, 255, 255);
    font-family: Nunito Sans;
    font-size: 19px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    width: 520px;
    height: 128px;
}
.advantages_team_text_three {
    color: rgb(255, 255, 255);
    font-family: Nunito Sans;
    font-size: 19px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    width: 520px;
    height: 128px;
}
}

@media(max-width: 768px) {
    .header_logo {
        margin-left: 0px;
        width: 100px;
        height: 125px;
    }
    .contacts-list {
        margin-left: 20px;
    }
    .header_text_container {
        margin-left: 10px;
    }
    .header_text {
        font-size: 17px;
    }
    .header_li {
        font-size: 19px; 
    }
    .contacts-link  {
        font-size: 19px; 
    }

    .header_text {
        width: 370px;
    }



    .img_main_text {
        color: rgb(255, 255, 255);
    font-family: Nunito Sans;
    font-size: 13px;
    font-weight: 900;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    width: 150.47px;
    height: 253.54px;
    
    margin-top: 14px;
    margin-left: 20px;
    }
    
    .text_under_img {
        color: rgb(255, 255, 255);
        font-family: Nunito Sans;
        font-size: 10px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0%;
        text-align: left;
        width: 240.81px;
        height: 78.96px;
        margin-top: 78px;
        margin-left: 20px;
    }
    
    .border {
        position: absolute;
        width: 150px;
        height: 50px;
        border-radius: 30px;
        box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        background: rgba(255, 255, 255, 0.4);
        margin-top: 130px;
        margin-left: 20px;
    }
    .percentages_in_border_img {
        position: absolute;
        color: rgb(255, 255, 255);
        font-family: Nunito Sans;
        font-size: 16px;
        font-weight: 900;
        line-height: 50px;
        letter-spacing: 0%;
        text-align: center;
        margin-top: 120px;
        margin-left: 30px;
    }
    .tetx_in_border_img {
        color: rgb(255, 255, 255);
        font-family: Nunito Sans;
        font-size: 5px;
        font-weight: 400;
        line-height: 10px;
        letter-spacing: 0%;
        text-align: left;
        width: 200px;
        height: 42.01px;
        margin-top: 155px;
        margin-left: 30px;
    }
    .sign_for_consultation_border {
        position: absolute;
        border-radius: 68px;
        background: rgb(255, 255, 255);
        width: 240px;
        height: 30px;
        margin-top: 190px;
        margin-left: 20px;
    }
    
    .sign_for_consultation {
        position: absolute;
        color: rgb(2, 143, 255);
        font-family: Nunito Sans;
        font-size: 10px;
        font-weight: 900;
        line-height: 50px;
        letter-spacing: 0%;
        text-align: left;
        text-transform: uppercase;
        margin-top: 180px;
        margin-left: 23px;
    }
    .achievement-text {
        color: rgb(255, 255, 255);
        font-family: 'Nunito Sans', sans-serif;
        font-size: 10px;
        font-weight: 900;
        line-height: 58px; 
        text-align: center;
        text-transform: uppercase;
    }
    .percentage_ul_list {
        display: block;
        gap: 60px;
        justify-content: center;
    }
    .consultation_list_li {
        margin-bottom: 90px;
    }
}

@media(max-width: 560px) {
    .achievement-text {
        color: rgb(255, 255, 255);
        font-family: 'Nunito Sans', sans-serif;
        font-size: 7px;
        font-weight: 900;
        line-height: 58px; 
        text-align: center;
        text-transform: uppercase;
    }
    .consultation_list_li {
        margin-bottom: 140px;
    }

}

@media(max-width: 480px) {

    .header_container {
        display: block;
    }

    .img_main_text {
        color: rgb(255, 255, 255);
    font-family: Nunito Sans;
    font-size: 8px;
    font-weight: 900;
    line-height: 10px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    width: 100.47px;
    height: 253.54px;
    
    margin-top: 5px;
    margin-left: 10px;
    }
    
    .text_under_img {
        color: rgb(255, 255, 255);
        font-family: Nunito Sans;
        font-size: 10px;
        font-weight: 400;
        line-height: 10px;
        letter-spacing: 0%;
        text-align: left;
        width: 200.81px;
        height: 78.96px;
        margin-top: 46px;
        margin-left: 10px;
    }
    
    .border {
        position: absolute;
        width: 150px;
        height: 40px;
        border-radius: 30px;
        box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        background: rgba(255, 255, 255, 0.4);
        margin-top: 90px;
        margin-left: 10px;
    }
    .percentages_in_border_img {
        position: absolute;
        color: rgb(255, 255, 255);
        font-family: Nunito Sans;
        font-size: 13px;
        font-weight: 900;
        line-height: 50px;
        letter-spacing: 0%;
        text-align: center;
        margin-top: 75px;
        margin-left: 20px;
    }
    .tetx_in_border_img {
        color: rgb(255, 255, 255);
        font-family: Nunito Sans;
        font-size: 5px;
        font-weight: 400;
        line-height: 10px;
        letter-spacing: 0%;
        text-align: left;
        width: 200px;
        height: 42.01px;
        margin-top: 108px;
        margin-left: 20px;
    }
    .sign_for_consultation_border {
        position: absolute;
        border-radius: 68px;
        background: rgb(255, 255, 255);
        width: 240px;
        height: 30px;
        margin-top: 140px;
        margin-left: 10px;
    }
    
    .sign_for_consultation {
        position: absolute;
        color: rgb(2, 143, 255);
        font-family: Nunito Sans;
        font-size: 9px;
        font-weight: 900;
        line-height: 50px;
        letter-spacing: 0%;
        text-align: left;
        text-transform: uppercase;
        margin-top: 130px;
        margin-left: 22px;
    }
    .under_percentage_text_one {
        color: rgb(2, 143, 255);
    font-family: Nunito Sans;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    width: 363.59px;
    height: 110.2px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 24px;
    }
    
    .under_percentage_text_two {
        color: rgb(2, 143, 255);
    font-family: Nunito Sans;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    width: 347.92px;
    height: 110.2px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 24px;
    
    }
    
    .under_percentage_text_three {
        color: rgb(2, 143, 255);
    font-family: Nunito Sans;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    width: 286.06px;
    height: 110.2px;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 24px;
    
    }
    .percentage_one {

        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .consultation_list_li {
        margin-bottom: 180px;
    }

}


@media(max-width: 420px) {
    .achievement-text {
        color: rgb(255, 255, 255);
        font-family: 'Nunito Sans', sans-serif;
        font-size: 5px;
        font-weight: 900;
        line-height: 58px; 
        text-align: center;
        text-transform: uppercase;
    }
    .team_foto_one {
        width: 200px;
    }
    .team_foto_two {
        width: 200px;
    }
}

@media(max-width: 305px) {
    
    .achievement-text {
        color: rgb(255, 255, 255);
        font-family: 'Nunito Sans', sans-serif;
        font-size: 4px;
        font-weight: 900;
        line-height: 58px; 
        text-align: center;
        text-transform: uppercase;
    }
    .percentage_one {

        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }

    .consultation_list_li {
        margin-bottom: 240px;
    }

}



































@media(max-width: 1673px) {

    .advice_text {
        color: rgb(255, 255, 255);
        font-family: Nunito Sans;
        font-size: 19px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0%;
        text-align: left;
        width: 410px;
        height: 51px;
        margin-left: 32px;
        margin-top: 10px;
    }
}




@media(max-width: 1473px) {

    .advice_text {
        color: rgb(255, 255, 255);
        font-family: Nunito Sans;
        font-size: 17px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0%;
        text-align: left;
        width: 410px;
        height: 51px;
        margin-left: 32px;
        margin-top: 10px;
    }
}


@media(max-width: 1341px) {

    .advice_list li {
        width: 48%; /* Используем 48%, чтобы учесть отступы между элементами */
        box-sizing: border-box;
        margin-bottom: 20px;
        list-style: none;
    }
    .advice_main_text {
        color: rgb(2, 143, 255);
        font-family: Nunito Sans;
        font-size: 17px;
        font-weight: 900;
        line-height: 50px;
        letter-spacing: 0%;
        text-align: left;
        text-transform: uppercase;
        width: 800px;
        height: 63px;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 92px;
    }
}


@media(max-width: 839px) {

    .advice_list li {
        width: 100%; /* Элемент занимает всю ширину контейнера */
        box-sizing: border-box;
        list-style: none;
    }

    .advice_main_text {
        color: rgb(2, 143, 255);
        font-family: Nunito Sans;
        font-size: 17px;
        font-weight: 900;
        line-height: 50px;
        letter-spacing: 0%;
        text-align: left;
        text-transform: uppercase;
        width: 100px;
        height: 63px;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 190px;
        margin-bottom: 70px;
    }

    .ul_main_container {
        gap: 10px;
    }
    .work_ul_list {

        display: block;
        /* width: 100%; */

        list-style-type: none; 
        padding: 0; 
        text-align: center; 
    }
    .work_container {
        display: block;
    }

    .work_li_list_text {
        color: rgb(2, 143, 255);
        font-family: Nunito Sans;
        font-size: 22px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0%;
        text-align: center;
        /* width: 220.87px; */
        height: 80px;
    }
    .team_list {
        display: block;
        gap: 50px;
    }
    .bg_copy {
        margin-top: 1460px;
        width: 100%; /* Растягиваем на весь экран */
        height: 220px;
        background: rgb(2, 143, 255);
        position: absolute;
        transform: translateY(-50%);
        display: block;
    }
    .team_foto_two {
        margin-top: 200px;
    }
    .consultation_main_text {
        color: rgb(2, 143, 255);
        font-family: Nunito Sans;
        font-size: 20px;
        font-weight: 900;
        line-height: 50px;
        letter-spacing: 0%;
        text-align: left;
        text-transform: uppercase;
        margin-top: 24px;
        margin-left: 5px;
        margin-bottom: 40px;
    /* width: 600px; */

    /* height: 50px; */
    }
    .register_consultation_border{
        /* Rectangle 20 */
    /* position: absolute; */
    width: 500px;
    height: 71px;
    position: absolute;
    border-radius: 68px;
    margin-top: 1900px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgb(255, 255, 255);
    
    
    
    }

    .register_consultation {
        color: rgb(2, 143, 255);
        font-family: Nunito Sans;
        font-size: 20px;
        font-weight: 900;
        line-height: 50px;
        letter-spacing: 0%;
        text-align: center;
        /* text-transform: uppercase; */
        margin-top: 11px;
    }

    .advantages_main_container {
        display: flex;
        justify-content: center;
        margin-top: 35px;
        /* justify-content: center; */

        margin-top: 1000px;
    }

    .advantages_list_photo {
        display: flex;
        width: 400px;
        justify-content: center; /* Центрирование по горизонтали */
        align-items: center;     /* Центрирование по вертикали (если элементы имеют разную высоту) */
        list-style-type: none;   /* Убирает стандартные маркеры списка */
        padding: 0;              /* Убирает отступы */
        margin: 0;               /* Убирает внешние отступы */
    }
    .advantages_list {
        margin-bottom: 0px;
        width: 400px;
        height: 250px;

    }
    .advantages_text_main_container {
        /* position: absolute; */
        width: 818px;
        height: 640px;
        left: 0;
        top: 0;
        border-radius: 30px;
        background: rgb(2, 143, 255);
        margin-left: 250px;
    }
    .advantages_text_main_container {
        /* position: absolute; */
        width: 818px;
        height: 640px;
        left: 0;
        top: 0;
        border-radius: 30px;
        background: rgb(2, 143, 255);
        margin-left: 0px;
        margin-top: 600px;
    }

    .advantages_ul_list {
        position: absolute;
        /* display: flex; */

width: 400px;
position: center;
margin-left: 200px;


    }
    .advantages_team_text {
        color: rgb(255, 255, 255);
        font-family: Nunito Sans;
        font-size: 19px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0%;
        width: 560px;
        height: 130px;
    }
    .advantages_list_two {
        width: 400px;
        height: 360px;
    }
}

@media(max-width: 671px) {


    .advice_main_text {
        color: rgb(2, 143, 255);
        font-family: Nunito Sans;
        font-size: 14px;
        font-weight: 900;
        line-height: 50px;
        letter-spacing: 0%;
        /* text-align: left; */
        /* text-transform: uppercase; */
        width: 100px;
        height: 63px;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 190px;
        margin-bottom: 70px;
    }
    .advantages_ul_list {
        position: absolute;
        /* display: flex; */

width: 400px;
position: center;
margin-left: 130px;


    }

    .advantages_text_main_container {
        width: 818px;
        height: 640px;
        left: 0px;
        top: 0px;
        border-radius: 30px;
        background: rgb(2, 143, 255);
        margin-left: 0px;
        margin-top: 600px;
    }
    .advantages_title {
        color: rgb(255, 255, 255);
        font-family: Nunito Sans;
        font-size: 18px;
        font-weight: 900;
        line-height: 28px;
        letter-spacing: 0%;
        width: 420px;
        height: 63px;
    }
    .advantages_team {
        width: 320;
        font-size: 16px;
        margin-bottom: 0px;
    }
    .advantages_team_text {
        color: rgb(255, 255, 255);
        font-family: Nunito Sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0%;
        width: 360px;
        height: 130px;
    }
    .advantages_team_text_two {
        color: rgb(255, 255, 255);
        font-family: Nunito Sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0%;
        width: 360px;
        height: 128px;
    }
    .advantages_team_text_three {
        color: rgb(255, 255, 255);
        font-family: Nunito Sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0%;
        width: 360px;
        height: 128px;
    }
}


@media(max-width: 577px) {
    .advice_main_text {
        color: rgb(2, 143, 255);
        font-family: Nunito Sans;
        /* font-size: 10px; */
        font-weight: 900;
        line-height: 50px;
        letter-spacing: 0%;
        /* text-align: left; */
        /* text-transform: uppercase; */
        width: 100px;
        height: 63px;
        width: 100%;

        text-align: center;

        /* display: flex; */
        /* justify-content: center; */
        margin-top: 190px;
        margin-bottom: 70px;
    }
    .advantages_ul_list {
        position: absolute;
        /* display: flex; */

width: 400px;
position: center;
margin-left: 80px;


    }
}

@media(max-width: 479px) {
    .advantages_ul_list {
        position: absolute;
        /* display: flex; */

width: 400px;
position: center;
margin-left: 50px;


    }

}


@media(max-width: 445px) {
    .advantages_main_container {
        display: flex;
        justify-content: center;
        margin-top: 35px;
        /* justify-content: center; */
        margin-left: 0px;
        margin-top: 1200px;
    }
}


@media(max-width: 403px) {
    .advice_text {
        color: rgb(255, 255, 255);
        font-family: Nunito Sans;
        font-size: 13px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0%;
        text-align: left;
        width: 410px;
        height: 51px;
        margin-left: 32px;
        margin-top: 10px;
    }
    .advantages_ul_list{
        margin-left: 100px;
    }
    .advantages_list_photo {
        display: flex;
        width: 300px;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .advantages_text_main_container {
        width: 818px;
        height: 640px;
        left: 0px;
        top: 0px;
        border-radius: 30px;
        background: rgb(2, 143, 255);
        margin-left: 0px;
        margin-top: 500px;
    }
}


@media(max-width: 443px){
    .work_li_list_text {
        color: rgb(2, 143, 255);
        font-family: Nunito Sans;
        font-size: 22px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0%;
        text-align: center;
        /* width: 220.87px; */
        height: 80px;
    }
    .team_list {
        display: block;
        gap: 50px;
    }
    .bg_copy {
        margin-top: 1600px;
        width: 100%; /* Растягиваем на весь экран */
        height: 220px;
        background: rgb(2, 143, 255);
        position: absolute;
        transform: translateY(-50%);
        display: block;
    }
    .team_foto_one{
width: 290px;
display: block;
margin-left: auto;
margin-right: auto;
    }
    .team_foto_two {
        width: 290px;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 300px;
    }
    .team_text_name {
        color: rgb(255, 255, 255);
        font-family: Nunito Sans;
        font-size: 22px;
        font-weight: 900;
        line-height: 28px;
        letter-spacing: 0%;
        text-align: left;
        margin-top: 70px;
        margin-left: 20px;
    }
    .team_text_white {
        color: rgb(255, 255, 255);
        font-family: Nunito Sans;
        font-size: 19px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0%;
        text-align: left;
        width: 310px;
        height: 130px;
        margin-top: 10px;
        margin-left: 20px;
    }
    .team_text_blue {
        color: rgb(2, 143, 255);
        font-family: Nunito Sans;
        font-size: 19px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0%;
        width: 260px;
        height: 183px;
        margin-top: 20px;
        margin-left: 20px;
    }

    .team_text_name_two {
        color: rgb(255, 255, 255);
        font-family: Nunito Sans;
        font-size: 22px;
        font-weight: 900;
        line-height: 28px;
        letter-spacing: 0%;
        text-align: left;
        margin-top: 90px;
        margin-left: 20px;
    }
    .team_text_white_two {
        color: rgb(255, 255, 255);
        font-family: Nunito Sans;
        font-size: 19px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0%;
        text-align: left;
        width: 310px;
        height: 130px;
        margin-top: 10px;
        margin-left: 20px;
    }
    .team_text_blue_two {
        color: rgb(2, 143, 255);
        font-family: Nunito Sans;
        font-size: 19px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0%;
        width: 260px;
        height: 183px;
        margin-left: 20px;

        margin-top: 20px;
    }
    .consultation_text {
        color: rgb(2, 143, 255);
        font-family: "Nunito Sans";
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        margin-left: 11px;
        width: auto;
        height: 82px;
    }
    .register_consultation_border{
        /* Rectangle 20 */
    /* position: absolute; */
    width: 300px;
    height: 71px;
    position: absolute;
    border-radius: 68px;
    margin-top: 2100px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgb(255, 255, 255);
    
    
    
    }

    .register_consultation {
        color: rgb(2, 143, 255);
        font-family: Nunito Sans;
        font-size: 15px;
        font-weight: 900;
        line-height: 50px;
        letter-spacing: 0%;
        text-align: center;
        /* text-transform: uppercase; */
        margin-top: 11px;
    }


    .advantages_main_container {
        display: flex;
        justify-content: center;
        margin-top: 35px;
        /* justify-content: center; */
        margin-left: 0px;
        margin-top: 1200px;
    }


}

@media(max-width: 514px) {
    .consultation_text {
        color: rgb(2, 143, 255);
        font-family: Nunito Sans;
        font-size: 19px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0%;
        /* text-align: left; */
        margin-left: 11px;
        width: auto;
        height: 82px;
    }
}


@media(max-width: 356px) {
    .consultation_text {
        color: rgb(2, 143, 255);
        font-family: "Nunito Sans";
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        margin-left: 11px;
        width: 250px;
        height: 82px;
    }

}

@media(max-width: 394px) {
    .consultation_list_li {
        margin-bottom: 280px;
    }
}



@media(max-width: 325px) {
    .advice_text {
        color: rgb(255, 255, 255);
        font-family: Nunito Sans;
        font-size: 10px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: left;
        width: 410px;
        height: 51px;
        margin-left: 32px;
        margin-top: 10px;
    }
    .team_foto_one{
        width: 270px;
        display: block;
        margin-left: auto;
        margin-right: auto;
            }
            .team_foto_two {
                width: 270px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 300px;
            }

            .team_foto_one{
                width: 290px;
                display: block;
                margin-left: auto;
                margin-right: auto;
                    }
                    .team_foto_two {
                        width: 290px;
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 300px;
                    }
                    .team_text_name {
                        color: rgb(255, 255, 255);
                        font-family: Nunito Sans;
                        font-size: 22px;
                        font-weight: 900;
                        line-height: 28px;
                        letter-spacing: 0%;
                        text-align: left;
                        margin-top: 70px;
                        margin-left: 20px;
                    }
                    .team_text_white {
                        color: rgb(255, 255, 255);
                        font-family: Nunito Sans;
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 22px;
                        letter-spacing: 0%;
                        text-align: left;
                        width: 250px;
                        height: 130px;
                        margin-top: 10px;
                        margin-left: 20px;
                    }
                    .team_text_blue {
                        color: rgb(2, 143, 255);
                        font-family: Nunito Sans;
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 22px;
                        letter-spacing: 0%;
                        width: 260px;
                        height: 183px;
                        margin-top: 20px;
                        margin-left: 20px;
                    }
                
                    .team_text_name_two {
                        color: rgb(255, 255, 255);
                        font-family: Nunito Sans;
                        font-size: 22px;
                        font-weight: 900;
                        line-height: 28px;
                        letter-spacing: 0%;
                        text-align: left;
                        margin-top: 90px;
                        margin-left: 20px;
                    }
                    .team_text_white_two {
                        color: rgb(255, 255, 255);
                        font-family: Nunito Sans;
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 22px;
                        letter-spacing: 0%;
                        text-align: left;
                        width: 250px;
                        height: 130px;
                        margin-top: 10px;
                        margin-left: 20px;
                    }
                    .team_text_blue_two {
                        color: rgb(2, 143, 255);
                        font-family: Nunito Sans;
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 22px;
                        letter-spacing: 0%;
                        width: 240px;
                        height: 183px;
                        margin-left: 20px;
                
                        margin-top: 20px;
                    }
                    .advantages_title {
                        color: rgb(255, 255, 255);
                        font-family: Nunito Sans;
                        font-size: 14px;
                        font-weight: 900;
                        line-height: 28px;
                        letter-spacing: 0%;
                        width: 320px;
                        height: 63px;
                    }
                    .advantages_team {
                        width: 320;
                        font-size: 16px;
                        margin-bottom: 0px;
                    }
                    .advantages_team_text {
                        color: rgb(255, 255, 255);
                        font-family: Nunito Sans;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 19px;
                        letter-spacing: 0%;
                        width: 320px;
                        height: 130px;
                    }
                    .advantages_team_text_two {
                        color: rgb(255, 255, 255);
                        font-family: Nunito Sans;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 19px;
                        letter-spacing: 0%;
                        width: 320px;
                        height: 128px;
                    }
                    .advantages_team_text_three {
                        color: rgb(255, 255, 255);
                        font-family: Nunito Sans;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 19px;
                        letter-spacing: 0%;
                        width: 320px;
                        height: 128px;
                    }
                    .advantages_ul_list {
                        margin-left: 50px;
                        width: 320px;
                    }
                    .advantages_list {
                        margin-bottom: 0px;
                        width: 320px;
                        height: 250px;
                    }
                    .advantages_list_two {
                        width: 320px;
                        height: 360px;
                    }
}

